body {
    background-color:rgb(74, 81, 74);
    display:flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

p {
    line-height: 5px;
}

.middle {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.center {
    display: flex;
    flex-direction: column;
    width: 710px;
    height: 715px;
    margin-right: 30px;
    padding-bottom: 8px;
}

canvas {
    background-color: white;
    width: 710px;
    height: 710px;
    width: 100%;
}

.left {
    flex-direction: row;
    text-align: left;
    margin-right: 30px;
}

.title {
    text-align: center;
    border-bottom: white 1px solid; 
    padding-bottom: 18px;
    margin-bottom: 0;
    font-size: 30px;
}

.first {
    margin-top: 30px;
    margin-bottom: 50px;
}

.start {
    background-color: green;
    border: 0; 
}

.bluebutton {
    background-color: rgb(91, 155, 213);
    border: 0; 
}

.redbutton {
    background-color: rgb(202, 72, 72);
    border: 0; 
}

.rigth {
    border-left: white 1px solid;
    
}

.txtarea {
   background-color: rgb(74, 81, 74); 
   border: 0;
   height: 100%;
   width: 150px;
   color: white;
   padding: 10px;
}

.bar {
    color: white;
    margin-bottom: 10px;
}

.lfont {
    font-size: 13px;
}

.button {
    border-top: white 1px solid; 
    padding-top: 8px;
    height: 20px;
}

button {
    height: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
