*{
    color: rgb(221, 211, 211);
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(47, 44, 44)
}
.wrapper{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.header{
    flex: 0 1 auto;
    text-align: center;
    border-bottom: solid 1px rgb(0, 0, 0);
}
.content{
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
}
.footer{
    border-top: solid 1px rgb(65, 57, 57);
    flex: 0 1 50px;
}
#map {
    width: 800px;
    height: 800px;
    border: solid 1px rgb(124, 124, 124);
    margin: auto;
    display: block;
    background: rgb(68, 68, 68);
}
.leftbar{
    width: 20%
}
.centerbar{
    border-left: solid 1px rgb(0, 0, 0);
    border-right: solid 1px rgb(0, 0, 0);
    width: 80%;
}
.rightbar{
    width: 20%
}
.timer {
    padding: 3px;
}
.button-center {
    display: table;
    height: inherit;
    line-height: 50px;
    margin: 0 auto;
}
.button {
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 1px 0px rgb(95, 89, 89);
    color: black;
}
.comand-info {
    list-style: none
}
.comand-info li:first-child {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}